<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Prompt&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <head>
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>Petition Project</title>
        <header>
            <img src="https://www.spiced-academy.com/wp-content/themes/spicedwp/img/spiced-logo.svg" alt="logo">
        </header>
    </head>
    <br>
    <body>

        {{{ body }}}

        <footer>Valerio Adragna, full stack web development student</h2> at Spiced Education, 2020</footer>
    </body>
</html>
