<!DOCTYPE html>
<html lang="en" dir="ltr">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Prompt&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">

<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Petition Project</title>
    <header>
        <img id="logo95" src="w95logo.png" alt="Windows95">
    </header>
</head>
<br>

<body>
    {{{ body }}}
</body>

</html>