<form method ="POST">
<input id="e-mail" name="email" placeholder="e-mail address">
<input id="password" name="password" placeholder="choose a password">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="submit" type="submit">Submit</button>
