<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>petition</title>
    </head>
    <body>
        <h1>Petition</h1>
        <form method: "POST">
  <input id="first" name="first" placeholder="first name">
  <input id="last" name="second" placeholder="second name">
  <h2>Sign!</h2>
  <input type="hidden" id="sig" name="sig" placeholder="sign here">
  <canvas id="canvas"></canvas>
  <button id="submit" type="submit">Submit</button>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="script.js">

        </script>
    </body>
</html>
