<form method ="POST">
    <h2>Teal Lovers Club</h2>
    <br>first name<input id="first" name="first" placeholder="first name"><br>
    last name<input id="last" name="second" placeholder="second name"><br>
    email<input id="email" name="email" placeholder="e-mail address"><br>
    password<input type="password" id="password" name="password" placeholder="choose a password"><br>
    <br><br><br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="submit" type="submit">Submit</button>
</form>
<br>
<h4 class="error">{{errorMessage}}</h4>
<h4>Already registered?<br><a href="/login"><button>Log in!</button></a></h4>
