<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>petition</title>
    </head>
    <body>
        <h1>Thanks for signing up our petition!!</h1>
        <span>
            {{nameAndSig.first}} {{nameAndSig.last}}, thanks for having signed our petition
        </span><br>
        <img src="{{nameAndSig.sig}}"/>
        <form method ="POST">
             <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit" type="submit">SEE WHO HAS SIGNED SO FAR</button>
        </form>
        <a href="/profile/edit"><button>EDIT YOUR PROFILE</button></a>
        <a href="/logout"><button>LOG OUT</button></a>
        <br>
        Don't you like your signature? Delete it and <a href="/delete">sign again!</a><br>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="thanks.js">
<form method ="POST"> <button id="submit" type="submit">back</button></form>
        </script>
    </body>
</html>
