#sig {
    border: solid 5px black;
    width: 500px;
    height: 500px;
}

#canvas {
    display: block;
    cursor: cell;
    border: black 1px solid;
}

ul {
    list-style: none;
    font-family: "Sriracha", cursive;
}

body {
    background-color: teal;
}

#windows {
    width: 500px;
    height: 300px;
}
