#sig {
    border: solid 5px black;
    width: 500px;
    height: 500px;
}

#canvas {
    display: block;
    cursor: cell;
    border: black 1px solid;
}

ul {
    list-style: none;
    font-family: "Sriracha", cursive;
}

body {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    display: inline-block;
    background-color: teal;
    border-radius: 10px;
    border: 1px double #cccccc;
    color: #4ddbff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

#windows {
    width: 500px;
    height: 300px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 150px;
    height: 20px;
}

.error {
    color: red;
}

#logo95 {
    width: 100px;
    height: 50px;
}

#spiceLogo {
    width: 80px;
}
