<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="style.css"></link>
        <meta charset="utf-8">
        <title>carousel</title>
    </head>
    <body>
        <div id='kitties'>
            <img src='kit1.jpg' class="onscreen"></img>
            <img src='kit2.jpg'></img>
            <img src='kit3.jpg'></img>
            <img src='kit4.jpg'></img>
        </div>
        <div id="dots">
            <div id="dot0" class="dot on"></div>
            <div id="dot1" class="dot"></div>
            <div id="dot2" class="dot"></div>
            <div id="dot3" class="dot"></div>
        </div>
<script type="text/javascript" src="script.js">

</script>
    </body>
</html>
